body {
    padding: 0;
    background: black;
}
.wall {
    position: absolute;
    z-index: 0;
    background-image: url('wall.png');
    display: inline-block;
}
.coin {
    position: absolute;
    z-index: 0;
    background-image: url('coin.png');
}
.cherry {
    position: absolute;
    z-index: 0;
    background-image: url('cherry.png');
}
#ghost {
    position: absolute;
    z-index: 1;
    background-image: url('ghost.png');
}
#pacman {
    position: absolute;
    z-index: 1;
    background-image: url('pacman.png');
}
#map {
    margin-left: 350px;
    position: absolute;
    width: 1200px;
    height: 930px;
    background-image: url('main_menu_background.png');
}
#score_tab {
    color: mintcream;
    position: absolute;
    left: 900px;
    top: 50px;
    font-size: x-large;
}
#lives_tab {
    color: mintcream;
    position: absolute;
    left: 900px;
    top: 100px;
    font-size: x-large;
}
#loser {
    font-size: 250px;
    color: rgba(255,0,0,0.4);
    position: absolute;
    margin-top: 320px;
    transform: rotate(-30deg);
}
#winner {
    font-size: 250px;
    color: rgba(0,0,255,0.6);
    position: absolute;
    margin-top: 320px;
    transform: rotate(-30deg);
}
#list {
    margin-left: 275px;
    margin-top: 350px;
    font-size: 23px;
    position: absolute;
    color: yellow;
    width: 600px;
    text-align: center;
}
h2 {
    margin-left: 275px;
    margin-top: 275px;
    font-size: 50px;
    position: absolute;
    color: yellow;
    width: 600px;
    text-align: center;
}
#newGame {
    position: absolute;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    background: yellow;
    margin-top: 435px;
    margin-left: 500px;
}
#main_score {
    position: absolute;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    background: yellow;
    margin-top: 485px;
    margin-left: 500px;
}
#back {
    position: absolute;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    background: yellow;
    margin-top: 800px;
    margin-left: 1000px;
}
#game_helper {
    position: absolute;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    background: yellow;
    margin-top: 535px;
    margin-left: 500px;
}
#about_my_game {
    position: absolute;
    color: yellow;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 300px;
    font-size: 30px;
}